In [54]:
import pandas as pd
df = pd.read_csv('C:/Users/PC/Downloads/STEG_BILLING_HISTORY.csv')
df.head(10)
client_0_bills = df.head(50)
client_0_bills

C:\Users\PC\AppData\Local\Temp\ipykernel_1016\2386461353.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/PC/Downloads/STEG_BILLING_HISTORY.csv')

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,0,203,8.0,1,82,0,0,0,14302,14384,4,ELEC
1,train_Client_0,2013-03-29,11,1335667.0,0,203,6.0,1,1200,184,0,0,12294,13678,4,ELEC
2,train_Client_0,2015-03-23,11,1335667.0,0,203,8.0,1,123,0,0,0,14624,14747,4,ELEC
3,train_Client_0,2015-07-13,11,1335667.0,0,207,8.0,1,102,0,0,0,14747,14849,4,ELEC
4,train_Client_0,2016-11-17,11,1335667.0,0,207,9.0,1,572,0,0,0,15066,15638,12,ELEC
5,train_Client_0,2017-07-17,11,1335667.0,0,207,9.0,1,314,0,0,0,15638,15952,8,ELEC
6,train_Client_0,2018-12-07,11,1335667.0,0,207,9.0,1,541,0,0,0,15952,16493,12,ELEC
7,train_Client_0,2019-03-19,11,1335667.0,0,207,9.0,1,585,0,0,0,16493,17078,8,ELEC
8,train_Client_0,2011-07-22,11,1335667.0,0,203,9.0,1,1200,186,0,0,7770,9156,4,ELEC
9,train_Client_0,2011-11-22,11,1335667.0,0,203,6.0,1,1082,0,0,0,9156,10238,4,ELEC
10,train_Client_0,2008-11-25,11,1335667.0,0,203,6.0,1,174,0,0,0,5417,5591,4,ELEC
11,train_Client_0,2012-07-23,11,1335667.0,0,203,6.0,1,628,0,0,0,10780,11408,4,ELEC
12,train_Client_0,2012-11-29,11,1335667.0,0,203,6.0,1,886,0,0,0,11408,12294,4,ELEC
13,train_Client_0,2013-07-22,11,1335667.0,0,203,8.0,1,147,0,0,0,13983,14130,4,ELEC
14,train_Client_0,2014-07-18,11,1335667.0,0,203,8.0,1,99,0,0,0,14384,14483,4,ELEC
15,train_Client_0,2014-11-24,11,1335667.0,0,203,8.0,1,141,0,0,0,14483,14624,4,ELEC
16,train_Client_0,2015-11-18,11,1335667.0,0,207,9.0,1,217,0,0,0,14849,15066,4,ELEC
17,train_Client_0,2012-03-27,11,1335667.0,0,203,8.0,1,292,0,0,0,10488,10780,4,ELEC
18,train_Client_0,2011-03-30,11,1335667.0,0,203,6.0,1,497,0,0,0,7273,7770,4,ELEC
19,train_Client_0,2013-02-12,11,1335667.0,0,203,8.0,1,38,0,0,0,14264,14302,2,ELEC
20,train_Client_0,2010-07-22,11,1335667.0,0,203,6.0,1,278,0,0,0,6761,7039,4,ELEC
21,train_Client_0,2010-11-24,11,1335667.0,0,203,6.0,1,234,0,0,0,7039,7273,4,ELEC
22,train_Client_0,2005-10-17,11,1335667.0,0,203,6.0,1,124,0,0,0,3685,3809,4,ELEC
23,train_Client_0,2006-02-24,11,1335667.0,0,203,6.0,1,141,0,0,0,3809,3950,4,ELEC
24,train_Client_0,2006-06-23,11,1335667.0,0,203,6.0,1,162,0,0,0,3950,4112,4,ELEC
25,train_Client_0,2006-10-18,11,1335667.0,0,203,6.0,1,159,0,0,0,4112,4271,4,ELEC
26,train_Client_0,2007-06-27,11,1335667.0,0,203,6.0,1,240,0,0,0,4453,4693,4,ELEC
27,train_Client_0,2007-10-25,11,1335667.0,0,203,6.0,1,276,0,0,0,4693,4969,4,ELEC
28,train_Client_0,2007-02-26,11,1335667.0,0,203,6.0,1,182,0,0,0,4271,4453,4,ELEC
29,train_Client_0,2008-07-28,11,1335667.0,0,203,6.0,1,171,0,0,0,5246,5417,4,ELEC
30,train_Client_0,2009-01-04,11,1335667.0,0,203,6.0,1,315,0,0,0,5591,5906,4,ELEC
31,train_Client_0,2009-07-27,11,1335667.0,0,203,6.0,1,312,0,0,0,5906,6218,4,ELEC
32,train_Client_0,2009-11-24,11,1335667.0,0,203,6.0,1,267,0,0,0,6218,6485,4,ELEC
33,train_Client_0,2010-03-29,11,1335667.0,0,203,6.0,1,276,0,0,0,6485,6761,4,ELEC
34,train_Client_0,2008-01-04,11,1335667.0,0,203,6.0,1,277,0,0,0,4969,5246,4,ELEC
35,train_Client_1,2010-09-02,11,678902.0,0,203,8.0,1,388,0,0,0,11429,11817,2,ELEC
36,train_Client_1,2012-02-02,11,678902.0,0,203,8.0,1,448,0,0,0,14232,14680,4,ELEC
37,train_Client_1,2011-07-10,11,678902.0,0,203,6.0,1,487,0,0,0,13745,14232,4,ELEC
38,train_Client_1,2011-09-06,11,678902.0,0,203,6.0,1,469,0,0,0,13276,13745,4,ELEC
39,train_Client_1,2011-09-02,11,678902.0,0,203,6.0,1,495,0,0,0,12781,13276,4,ELEC
40,train_Client_1,2010-07-06,11,678902.0,0,203,6.0,1,444,0,0,0,11817,12261,4,ELEC
41,train_Client_1,2009-05-03,11,678902.0,0,203,6.0,1,498,0,0,0,9724,10222,4,ELEC
42,train_Client_1,2006-10-25,11,678902.0,0,203,6.0,1,565,0,0,0,5747,6312,4,ELEC
43,train_Client_1,2008-02-07,11,678902.0,0,203,6.0,1,528,0,0,0,8604,9132,4,ELEC
44,train_Client_1,2008-04-03,11,678902.0,0,203,6.0,1,555,0,0,0,8049,8604,4,ELEC
45,train_Client_1,2007-10-26,11,678902.0,0,203,6.0,1,716,0,0,0,7333,8049,4,ELEC
46,train_Client_1,2007-06-28,11,678902.0,0,203,6.0,1,507,0,0,0,6826,7333,4,ELEC
47,train_Client_1,2007-02-27,11,678902.0,0,203,6.0,1,514,0,0,0,6312,6826,4,ELEC
48,train_Client_1,2012-01-06,11,678902.0,0,203,6.0,1,190,0,0,0,14963,15153,2,ELEC
49,train_Client_1,2006-06-28,11,678902.0,0,203,6.0,1,522,0,0,0,5225,5747,4,ELEC

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4476749 entries, 0 to 4476748
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            int64
 3   counter_number        float64
 4   counter_statue        object
 5   counter_code          int64
 6   reading_remarque      float64
 7   counter_coefficient   int64
 8   consommation_level_1  int64
 9   consommation_level_2  int64
 10  consommation_level_3  int64
 11  consommation_level_4  int64
 12  old_index             int64
 13  new_index             int64
 14  months_number         int64
 15  counter_type          object
dtypes: float64(2), int64(10), object(4)
memory usage: 546.5+ MB

In [59]:
df.shape

(4476749, 16)

In [20]:
print("On a 16 colonnes, 4476749 lignes et 546.5 MB consommé.")

On a 16 colonnes, 4476749 lignes et 546.5 MB consommé.

In [57]:
df.isnull().sum()

client_id                  0
invoice_date               0
tarif_type                 0
counter_number            48
counter_statue             0
counter_code               0
reading_remarque        4531
counter_coefficient        0
consommation_level_1       0
consommation_level_2       0
consommation_level_3       0
consommation_level_4       0
old_index                  0
new_index                  0
months_number              0
counter_type               0
dtype: int64

In [60]:
df['counter_number'].value_counts()

counter_number
0.000000e+00    43161
2.786000e+03      251
6.303170e+05      230
1.627090e+05      226
9.630000e+02      220
                ...
6.849580e+05        1
2.719115e+13        1
3.212680e+05        1
2.195752e+12        1
2.185700e+12        1
Name: count, Length: 201893, dtype: int64

In [61]:
mode_reading_remarque = df['reading_remarque'].mode()[0]
df['reading_remarque'] = df['reading_remarque'].fillna(mode_reading_remarque)

In [62]:
df['counter_number'] = df['counter_number'].fillna(method='ffill')

C:\Users\PC\AppData\Local\Temp\ipykernel_1016\1950755715.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['counter_number'] = df['counter_number'].fillna(method='ffill')

In [63]:
df.describe()

,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number
count,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06
mean,2.012804e+01,1.230587e+11,1.724884e+02,7.320375e+00,1.003040e+00,4.109795e+02,1.093225e+02,2.030620e+01,5.292588e+01,1.776700e+04,1.834970e+04,4.483095e+01
std,1.347256e+01,1.657267e+12,1.338871e+02,1.571626e+00,3.083466e-01,7.573080e+02,1.220123e+03,1.574239e+02,8.754725e+02,4.036693e+04,4.095321e+04,3.128335e+03
min,8.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.100000e+01,1.211080e+05,5.000000e+00,6.000000e+00,1.000000e+00,7.900000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.791000e+03,2.056000e+03,4.000000e+00
50%,1.100000e+01,4.945610e+05,2.030000e+02,8.000000e+00,1.000000e+00,2.740000e+02,0.000000e+00,0.000000e+00,0.000000e+00,7.690000e+03,8.192000e+03,4.000000e+00
75%,4.000000e+01,1.115161e+06,2.070000e+02,9.000000e+00,1.000000e+00,6.000000e+02,0.000000e+00,0.000000e+00,0.000000e+00,2.166000e+04,2.234300e+04,4.000000e+00
max,4.500000e+01,2.798115e+13,6.000000e+02,4.130000e+02,5.000000e+01,9.999100e+05,9.990730e+05,6.449200e+04,5.479460e+05,2.800280e+06,2.870972e+06,6.366240e+05

In [64]:
df.loc[df['client_id']=='train_Client_0',['consommation_level_1','consommation_level_2','consommation_level_3','consommation_level_4']]

,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4
0,82,0,0,0
1,1200,184,0,0
2,123,0,0,0
3,102,0,0,0
4,572,0,0,0
5,314,0,0,0
6,541,0,0,0
7,585,0,0,0
8,1200,186,0,0
9,1082,0,0,0
10,174,0,0,0
11,628,0,0,0
12,886,0,0,0
13,147,0,0,0
14,99,0,0,0
15,141,0,0,0
16,217,0,0,0
17,292,0,0,0
18,497,0,0,0
19,38,0,0,0
20,278,0,0,0
21,234,0,0,0
22,124,0,0,0
23,141,0,0,0
24,162,0,0,0
25,159,0,0,0
26,240,0,0,0
27,276,0,0,0
28,182,0,0,0
29,171,0,0,0
30,315,0,0,0
31,312,0,0,0
32,267,0,0,0
33,276,0,0,0
34,277,0,0,0

In [65]:
#Transform the 'counter_type' feature to a numeric variable using the encoder of your choice.
df['counter_type'].value_counts()

counter_type
ELEC    3079406
GAZ     1397343
Name: count, dtype: int64

In [74]:
one_hot = pd.get_dummies(df['counter_type'])
one_hot= one_hot_encoded.astype(int)
new_df = df.join(one_hot)
new_df

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type,ELEC,GAZ
0,train_Client_0,2014-03-24,11,1335667.0,0,203,8.0,1,82,0,0,0,14302,14384,4,ELEC,1,0
1,train_Client_0,2013-03-29,11,1335667.0,0,203,6.0,1,1200,184,0,0,12294,13678,4,ELEC,1,0
2,train_Client_0,2015-03-23,11,1335667.0,0,203,8.0,1,123,0,0,0,14624,14747,4,ELEC,1,0
3,train_Client_0,2015-07-13,11,1335667.0,0,207,8.0,1,102,0,0,0,14747,14849,4,ELEC,1,0
4,train_Client_0,2016-11-17,11,1335667.0,0,207,9.0,1,572,0,0,0,15066,15638,12,ELEC,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4476744,train_Client_99998,2005-08-19,10,1253571.0,0,202,9.0,1,400,135,0,0,3197,3732,8,ELEC,1,0
4476745,train_Client_99998,2005-12-19,10,1253571.0,0,202,6.0,1,200,6,0,0,3732,3938,4,ELEC,1,0
4476746,train_Client_99999,1996-09-25,11,560948.0,0,203,6.0,1,259,0,0,0,13884,14143,4,ELEC,1,0
4476747,train_Client_99999,1996-05-28,11,560948.0,0,203,6.0,1,603,0,0,0,13281,13884,4,ELEC,1,0
4476748,train_Client_99999,1996-01-25,11,560948.0,0,203,6.0,1,516,0,0,0,12765,13281,4,ELEC,1,0

In [71]:
new_df= new_df.drop('counter_type',axis = 1)
new_df

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,ELEC,GAZ
0,train_Client_0,2014-03-24,11,1335667.0,0,203,8.0,1,82,0,0,0,14302,14384,4,True,False
1,train_Client_0,2013-03-29,11,1335667.0,0,203,6.0,1,1200,184,0,0,12294,13678,4,True,False
2,train_Client_0,2015-03-23,11,1335667.0,0,203,8.0,1,123,0,0,0,14624,14747,4,True,False
3,train_Client_0,2015-07-13,11,1335667.0,0,207,8.0,1,102,0,0,0,14747,14849,4,True,False
4,train_Client_0,2016-11-17,11,1335667.0,0,207,9.0,1,572,0,0,0,15066,15638,12,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4476744,train_Client_99998,2005-08-19,10,1253571.0,0,202,9.0,1,400,135,0,0,3197,3732,8,True,False
4476745,train_Client_99998,2005-12-19,10,1253571.0,0,202,6.0,1,200,6,0,0,3732,3938,4,True,False
4476746,train_Client_99999,1996-09-25,11,560948.0,0,203,6.0,1,259,0,0,0,13884,14143,4,True,False
4476747,train_Client_99999,1996-05-28,11,560948.0,0,203,6.0,1,603,0,0,0,13281,13884,4,True,False
4476748,train_Client_99999,1996-01-25,11,560948.0,0,203,6.0,1,516,0,0,0,12765,13281,4,True,False