In [12]:
import pandas as pd
data = pd.read_csv("C:/Users/PC/Downloads/Historical data of Tanzania Tourism.csv")
data

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,13.0,0.0,Cash,No,Friendly People,674602.5
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,No,14.0,7.0,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,No,1.0,31.0,Cash,No,Excellent Experience,3315000.0
3,tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,No,11.0,0.0,Cash,Yes,Friendly People,7790250.0
4,tour_1004,CHINA,1-24,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,7.0,4.0,Cash,Yes,No comments,1657500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,tour_993,UAE,45-64,Alone,0.0,1.0,Business,Hunting tourism,"Friends, relatives",Independent,...,No,No,No,No,2.0,0.0,Credit Card,No,No comments,3315000.0
4805,tour_994,UNITED STATES OF AMERICA,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,Yes,11.0,0.0,Cash,Yes,Friendly People,10690875.0
4806,tour_995,NETHERLANDS,1-24,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,others,Independent,...,No,No,No,No,3.0,7.0,Cash,Yes,Good service,2246636.7
4807,tour_997,SOUTH AFRICA,25-44,Friends/Relatives,1.0,1.0,Business,Beach tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,5.0,0.0,Credit Card,No,Friendly People,1160250.0
4808,tour_999,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,No,4.0,7.0,Cash,Yes,Friendly People,13260000.0

In [3]:
import numpy as np

In [4]:

data=data.assign(total_passengers=data['total_male']+data['total_female'] ) 
data

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost,total_passengers
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,13.0,0.0,Cash,No,Friendly People,674602.5,2.0
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,14.0,7.0,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5,1.0
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,1.0,31.0,Cash,No,Excellent Experience,3315000.0,1.0
3,tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,11.0,0.0,Cash,Yes,Friendly People,7790250.0,2.0
4,tour_1004,CHINA,1-24,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,7.0,4.0,Cash,Yes,No comments,1657500.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,tour_993,UAE,45-64,Alone,0.0,1.0,Business,Hunting tourism,"Friends, relatives",Independent,...,No,No,No,2.0,0.0,Credit Card,No,No comments,3315000.0,1.0
4805,tour_994,UNITED STATES OF AMERICA,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,11.0,0.0,Cash,Yes,Friendly People,10690875.0,2.0
4806,tour_995,NETHERLANDS,1-24,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,others,Independent,...,No,No,No,3.0,7.0,Cash,Yes,Good service,2246636.7,1.0
4807,tour_997,SOUTH AFRICA,25-44,Friends/Relatives,1.0,1.0,Business,Beach tourism,"Travel, agent, tour operator",Independent,...,No,No,No,5.0,0.0,Credit Card,No,Friendly People,1160250.0,2.0
4808,tour_999,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,No,4.0,7.0,Cash,Yes,Friendly People,13260000.0,2.0

In [5]:
data.isnull().sum()

ID                          0
country                     0
age_group                   0
travel_with              1114
total_female                3
total_male                  5
purpose                     0
main_activity               0
info_source                 0
tour_arrangement            0
package_transport_int       0
package_accomodation        0
package_food                0
package_transport_tz        0
package_sightseeing         0
package_guided_tour         0
package_insurance           0
night_mainland              0
night_zanzibar              0
payment_mode                0
first_trip_tz               0
most_impressing           313
total_cost                  0
total_passengers            8
dtype: int64

In [6]:
data['total_passengers'].value_counts()

total_passengers
1.0     2371
2.0     1617
3.0      312
4.0      265
5.0       92
6.0       51
7.0       16
0.0       15
8.0       12
12.0      11
10.0      10
9.0        8
11.0       6
13.0       5
20.0       2
15.0       1
30.0       1
16.0       1
22.0       1
93.0       1
19.0       1
18.0       1
14.0       1
Name: count, dtype: int64

In [7]:
data.loc[data["travel_with"].isnull(), 'total_passengers'].value_counts()

total_passengers
1.0     1085
2.0       14
4.0        4
3.0        4
0.0        1
9.0        1
7.0        1
11.0       1
5.0        1
6.0        1
Name: count, dtype: int64

In [8]:
data.loc[data["total_passengers"]==4.0, 'travel_with'].value_counts()

travel_with
Spouse and Children    151
Friends/Relatives       90
Children                16
Spouse                   3
Alone                    1
Name: count, dtype: int64

In [158]:

data['travel_with'] = data.apply(lambda x: 'Alone' if pd.isnull(x['travel_with']) and x['total_passengers'] == 1 else x['travel_with'], axis=1)

In [159]:
data.isnull().sum()

ID                         0
country                    0
age_group                  0
travel_with               15
total_female               3
total_male                 5
purpose                    0
main_activity              0
info_source                0
tour_arrangement           0
package_transport_int      0
package_accomodation       0
package_food               0
package_transport_tz       0
package_sightseeing        0
package_guided_tour        0
package_insurance          0
night_mainland             0
night_zanzibar             0
payment_mode               0
first_trip_tz              0
most_impressing          313
total_cost                 0
total_passengers           8
dtype: int64

In [156]:

data['travel_with'] = data.apply(lambda x: 'Spouse' if pd.isnull(x['travel_with']) and x['total_passengers'] == 2 else x['travel_with'], axis=1)

In [19]:
correlation = data['total_male'].corr(data['total_cost'])
print(correlation)

0.18584756098847388

In [22]:
country_visits = data['country'].value_counts()
top_3_countries = country_visits.nlargest(3)
print(top_3_countries)

country
UNITED STATES OF AMERICA    695
UNITED KINGDOM              533
ITALY                       393
Name: count, dtype: int64

In [26]:
#Determine the most common purpose of the visit by 'age_group'.
purpose_counts_by_age_group = data.groupby('age_group')['purpose'].value_counts()
most_common_purpose_by_age_group = purpose_counts_by_age_group.groupby(level=0).nlargest(1)
print(most_common_purpose_by_age_group)

age_group  age_group  purpose
1-24       1-24       Leisure and Holidays     349
25-44      25-44      Leisure and Holidays    1324
45-64      45-64      Leisure and Holidays     915
65+        65+        Leisure and Holidays     252
Name: count, dtype: int64